body {
    background-image: url("https://wallpapercrafter.com/desktop/132977-Hytale-RPG-video-games-video-game-art.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

body {
    padding: 5px 20px;
	font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("https://media.istockphoto.com/photos/papyrus-parchment-texture-picture-id821337424?k=6&m=821337424&s=170667a&w=0&h=QmhNdb27V6zCkQRKBr7KTgUAs3Q6F6hbZsv24m9wtZ4=");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
	font-size: 36px;
    padding-bottom: 10px;
}

div h1 {
	font-size: 36px;
	margin: 0px;
    line-height: 2;
}

div h2 {
	margin-left: 0px;
	margin-right: 0px;
    line-height: 2;
}

div a {
    bottom: 10px;
}

section {
    position: sticky;
    background-color: transparent;
    padding-top: 50px;
    padding-right: 100px;
}


label {
    font-style: normal;
    color: black;
    font-size: large;
    font-weight: bold;
}
