body {
    background-image: url('background/image.png');
    background-repeat:no-repeat ;
    background-size: auto;
}
#exit{
        width: 40px;
        height: 40px;
        position: fixed;
        left: 3%;
        top: 30%;
    
}
 #button{
    background-color: greenyellow;
    color: blue;
    font-family: 'Trebuchet MS';
}
#button:hover{
    animation: pulse 1s;
}
#potion{
    width: 40px;
    height: 40px;
    position: fixed;
    left: 100px ;
    top: 607px;
}
#epee{
    width: 40px;
    height: 40px;
    position: fixed;
    left: 100px ;
    top: 654px;
}
#armure{
    width: 40px;
    height: 40px;
    position: fixed;
    left: 100px ;
    top: 701px;
}
#Bijou{
    width: 40px;
    height: 40px;
    position: fixed;
    left: 100px ;
    top: 750px;
}
#accueil{
    font-family: 'Trebuchet MS';
    color: white;
}
#pageDemmarage{
    font-family: 'Trebuchet MS';
    color: white;
}
#table{
    position: fixed;
    top: 60%;
}
tr{
    background-color : ivory;
        
}
    
    
#table img {
    width: 40px;
}
    
#table th,
#table td {
    text-align: center;
}