body {
    background-image: url("https://i.pinimg.com/564x/57/66/13/576613f92b1c9bc8dd69c827bce581a0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}